.wj-hero-block {
	// width: 100vw;
	// margin-left: 50%;
	// transform: translateX(-50%);
	// -webkit-transform: translateX(-50%);
	position: relative;
	overflow: hidden;
	&-inner {
		display: flex;
		h1, h2, h3{
			font-family: $font_primary;
		}
		&--bg, &-content{
			width: 50%;
		}

		&-content{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			&__inner{
				margin-left: -10%;
			}
		}
	}
}
