.wj-hero-block {
	position: relative;
	overflow: hidden;
	&-inner {
		display: flex;
		h1, h2, h3{
			font-family: $font_primary;
		}
		&--bg, &-content{
			width: 50%;
		}

		&--bg{
			img{
				width: 100%;
				height: auto;
			}
		}

		&-content{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			z-index: 99;
		}
	}
}
