.wp-block-button {
	.wp-block-button__link {
		background-color: transparent !important;
		color: #a19e98;
		letter-spacing: 0.15em;
		font-size: 18px;
		padding: 0 !important;
		margin: 0;
		line-height: 120%;
		font-family: "Karla";
		border: none !important;
		position: relative;
		padding-right: 20px !important;
		text-transform: uppercase !important;
		font-weight: 700;
		&::before{
			content: " ";
			display: inline-block;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			border-left: 10px solid #a19e98;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}