.antero-separator-blocks{
	display: flex;
	&.separator-fullwidth{
		.separators{
			width: 100% !important;
		}
	}
	&.separator-center{
		justify-content: center;
	}
	&.separator-left{
		justify-content: flex-start;
	}
	&.separator-right{
		justify-content: flex-end;
	}
	.separators{
		height: 2px;
		width: 63px;
		background: #273138;
	}
}