.wp-block-antero-blocks-hero-carousel {
	@media (min-width: 782px) {
		width: calc(100vw - 350px);
		margin-left: calc((100% - calc(100vw - 350px)) / 2);
		transform: none;
	}
	.block-editor-block-list__block {
		&:not([data-type="core/button"]){
			max-width: 100% !important;
			width: 100%;
		}
	}
	.block-editor-block-list__layout{
		>div{
			&:first-child{
				margin-top: 0;
			}
			&:last-child{
				margin-bottom: 0; 
			}
		}
		.block-list-appender.wp-block{
			position: relative;
			margin: 0 auto;
		}
	}
}

.antero-hero-carousel-block-inner .antero-carousel-item-block-inner-wrap-frame{
	max-width: 50%;
}	
.antero-hero-carousel-block-inner .antero-carousel-item-block-inner-wrap-frame::before{
	right: -36px;
}

.antero-hero-carousel-block-inner .antero-carousel-item-block-inner{
	height: auto;
}