.wp-block-antero-blocks-hero-carousel {
	width: 100vw;
	margin-left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	position: relative;
	overflow: hidden;
}

.antero-hero-carousel-block {
	&-inner {
		.slick-track {
			display: flex;
		}
		.antero-carousel-item-block {
			height: inherit;
			// background: linear-gradient(249.39deg, #4c1b32 13.66%, #8e4777 86.34%);
			&-inner {
				position: relative;
				height: 100%;
				@media (min-width: 1921px){
					max-width: 1920px;
					margin: 0 auto;
				}
				&-wrap-mask {
					position: absolute;
					left: 0px;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					-webkit-mask-image: url("../assets/images/homepage-mask-desktop.svg");
					mask-image: url("../assets/images/homepage-mask-desktop.svg");
					-webkit-mask-size: 70%;
					mask-size: 70%;
					-webkit-mask-repeat: no-repeat;
					mask-repeat: no-repeat;
					-webkit-mask-size: cover;
					-webkit-mask-position: top right;
					mask-size: cover;
					mask-position: top right;
					@include media-breakpoint-down("lg") {
						-webkit-mask-position: bottom left;
						mask-position: bottom left;
						-webkit-mask-image: url("../assets/images/homepage-mask-mobile.svg");
						mask-image: url("../assets/images/homepage-mask-mobile.svg");
					}
					@media (max-width: 374px) {
						-webkit-mask-position: center;
					}
					img {
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						object-fit: cover;
						object-position: 0% 50%;
					}
				}
				&-wrap-frame {
					position: absolute;
					left: 0px;
					top: 0;
					width: 100%;
					height: 100%;
					max-width: 60%;
					z-index: 4;
					@media (max-width: 1600px) {
						max-width: 50%;
					}
					@media (max-width: 1400px) {
						max-width: 40%;
					}
					@include media-breakpoint-down("lg") {
						max-width: 100%;
						// max-height: 60%;
						height: 495px;
						position: relative;
					}
					&::before {
						content: "";
						top: 0;
						right: -28px;
						position: absolute;
						width: 100%;
						height: 100%;
						z-index: 2;
						@include bg-common-contain;
						background-position: top right;
						background-image: url("../assets/images/homepage-desktop-lines.svg");
						@media (max-width: 1199px)  {
							right: -24px;
						}
						@include media-breakpoint-down("lg") {
							background-image: url("../assets/images/homepage-mobile-lines.svg");
							bottom: -5px;
							top: unset;
							right: unset;
							left: 0;
							background-position: bottom center;
							background-size: 112%;
						}

						@media (max-width: 399px) {
							bottom: 3px;
							bottom: 0.28em;
						}
						@media (max-width: 374px) {
							bottom: 0.49em;
						}
					}
				}
				&-wrap-bg {
					position: absolute;
					right: 0;
					top: 0;
					width: 100%;
					height: 100%;
					max-width: 100%;
					z-index: 2;
					background: linear-gradient(249.39deg, #4c1b32 13.66%, #8e4777 86.34%);
				}
				.antero-carousel-container {
					position: relative;
					z-index: 5;
					max-width: 80%;
					padding-left: 15px;
					padding-right: 15px;
					margin: 0 auto;
					@include media-breakpoint-down("lg") {
						max-width: 100%;
						position: relative;
					}
					&-content {
						max-width: 432px;
						margin: 0 0 0 auto;
						padding-top: var(--paddingTop, 25vh);
						padding-bottom: var(--paddingBottom, 25vh);
						width: 430px;
						@media (max-width: 1024px) {
							padding-top: var(--paddingTopTablet, 20vh);
							padding-bottom: var(--paddingBottomTablet, 20vh);
						}
						@media (max-width: 991px) {
							width: 100%;
						}
						@include media-breakpoint-down("lg") {
							max-width: 100% !important;
							padding-top: 0;
							padding-bottom: 80px;
						}

						h1,
						h2,
						h3,
						h4,
						h5,
						h6,
						p {
							text-align: left;
						}
						.wp-block-buttons {
							justify-content: flex-start;
							.wp-block-button,
							a {
								@include media-breakpoint-down("md") {
									width: 100%;
								}
							}
						}
					}
				}
			}
		}

		.slick-arrow {
			height: 48px;
			width: 48px;
			background: url("../assets/images/icon-slider-arrow.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			overflow: hidden;
			text-indent: -9999px;
			border: none;
			position: absolute;
			top: 50%;
			filter: brightness(0) invert(1);
			transform: translateY(-50%);
			z-index: 1;
			&.slick-next {
				right: 30px;
			}
			&.slick-prev {
				left: 30px;
				transform: translateY(-50%) rotate(180deg);
			}
		}

		.slick-dots {
			display: flex;
			align-items: center;
			list-style-type: none;
			position: absolute;
			right: 48px;
			bottom: 55px;
			@include media-breakpoint-down("lg") {
				bottom: 40px;
				left: 50%;
				right: unset;
				transform: translateX(-50%);
			}
			li {
				height: 10px;
				&:not(:last-child) {
					margin-right: 10px;
				}
				&.slick-active {
					button {
						background: #fff;
						border: 1px solid rgba(255, 255, 255, 1);
					}
				}
				button {
					text-indent: -99999px;
					width: 10px;
					height: 10px;
					background: transparent;
					border: 1px solid rgba(255, 255, 255, 0.24);
					border-radius: 50%;
					padding: 0;
				}
			}
		}
	}
}
