.wj-icon-text-block {
	display: inline-block;
	height: auto;
    position: relative;
	width: 100% !important;
	max-width: 100% !important;
	overflow: hidden;
	h1, h2, h3{
		margin: 0;
		padding: 0;
	}

	&-inner{
		border: 2px solid #fff;
		padding: 40px;
	}
}
