.wj-hero-carousel-block {
	position: relative;
	&-inner {
		display: flex;
		box-sizing: border-box;
		@media only screen and (max-width: 767px){
			flex-wrap: wrap;
		}
		h1, h2, h3{
			font-family: $font_primary;
		}

		&-content{
			width: 50%;
			@media only screen and (max-width: 1199px){
				width: 35%;
			}			
		}

		&--bg{
			width: 50%;
			@media only screen and (max-width: 1199px){
				width: 65%;
			}
			@media only screen and (max-width: 767px){
				min-height: 400px;
			}
			> img{
				width: 100%;
				height: auto;
				display: none;
			}

			&-warp{
				width: 100%;
				max-width: 100%;
				overflow: hidden;
				margin-bottom: -60px;
				@media only screen and (max-width: 767px){
					margin-bottom: 0;
				}
			}

			.wj-hero-carousel-block-images{
				width: 100%;
				max-width: 100%;
				position: relative;
				.swiper-slide{
					&--image{
						width: 100%;
						max-width: 100%;
						min-height: 600px;
						position: relative;
						cursor: pointer;
						@media only screen and (max-width: 767px){
							min-height: 400px;
						}
						img{
							position: absolute;
							width: 100%;
							height: 100%;
							left: 0;
							top: 0;
							-o-object-fit: cover;
							object-fit: cover;
							-o-object-position: center;
							object-position: center;
						}
					}
				}

				.swiper-button-prev, .swiper-button-next{
					color: #fff;
				}
			
				.swiper-pagination{
					.swiper-pagination-bullet{
						background: #fff;
						opacity: 0.4;
						&.swiper-pagination-bullet-active{
							background: #fff;
							opacity: 1;
						}
					}
				}
			}
		}

		&-content{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			z-index: 99;
			&__inner{
				margin-left: -10%;
				h1.heading{
					max-width: 385px;
					line-height: 90%;
					margin-left: -10%;
					margin-top: 0;
					margin-bottom: 0;
					@media only screen and (max-width: 767px){
						max-width: 290px;
						margin: 0 auto;
						display: inline-block;
					}
				}
			}
		}

		
		&--bg, &-content{
			@media only screen and (max-width: 767px){
				width: 100%;
			}
		}
		
	}
}
