.has-white-colour-color {
	color: $white;
}

.has-black-colour-color {
	color: $black;
}

.has-primary-colour-color {
	color: $primary;
}

.has-secondary-colour-color {
	color: $secondary;
}

.has-white-colour-background-color{
	background-color: $white;
}
.has-black-colour-background-color{
	background-color: $black;
}
.has-primary-colour-background-color{
	background-color: $primary;
}
.has-secondary-colour-background-color{
	background-color: $secondary;
}