.has-white-colour-color {
	color: $white;
}

.has-black-colour-color {
	color: $black;
}

.has-primary-colour-color {
	color: $primary;
}

.has-secondary-colour-color {
	color: $secondary;
}

.has-white-colour-background-color{
	background-color: $white;
}
.has-black-colour-background-color{
	background-color: $black;
}
.has-primary-colour-background-color{
	background-color: $primary;
}
.has-secondary-colour-background-color{
	background-color: $secondary;
}

.entry-content .alignfull {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: 100vw;
}


// custom css
body .wp-block-gallery{
    &.wjstg-gallery-incept{
        align-items: center;
        align-content: center;
        > .wp-block-image{
            margin: 0 auto !important;
            box-sizing: border-box;
            @media only screen and (max-width: 781px) and (min-width: 768px){
                width: calc(25% - 16px) !important;
            }
            img{
                margin: 0 auto;
                max-width: 70% !important;
                @media only screen and (min-width: 768px){
                    width: fit-content;
                    max-width: 90% !important;
                }
            }

            &:nth-child(10){
                @media only screen and (min-width: 768px){
                    width: 90px !important;
                }
            }

            &:nth-child(11){
                @media only screen and (min-width: 768px){
                    width: 300px !important;
                }
            }
        }
    }
}

.wp-block-columns{
    &.wjstg-col-gallery-incept{
        margin-bottom:0;
        flex-wrap: nowrap !important;
        align-items: center !important;
        align-content: center;
        .wp-block-image{
            margin-bottom: 0;
        }
    }
}

.wj-hero-block{
    &.wjstg-hero-incept{
        .wj-hero-block-inner > .container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }  

        .wj-hero-block-inner--bg-overlay{
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            transform: matrix(1, 0, 0, -1, 0, 0);
        }

        .wj-hero-block-inner-content{
            > .wp-block-image{
                img{
                    @include media-breakpoint-down(md) {
                        max-width: 207px;
                    }
                }
            }
            @include media-breakpoint-down(md) {
                p{
                    font-size: 20px !important;
                    line-height: 150% !important;
                    margin: 0;
                }
            }
        }
    }
}