body{
    h1, h2, h3, h4, h5, h6{
        &::before{
            content: none !important;
        }
    }

    // h1, h2, h3, h4, h5, h6, p, span{
    //     font-family: $font_primary;
    // }
}


.wj-hero-block-inner-content__inner h1{
	line-height: 90%;
}

.wj-images-text-block-content{
	width: 50%;
}

.wj-hero-hp.wp-block-wj-blocks-wj-container{
	z-index:999;
	overflow: inherit;
}

.wj-ss-hp.wp-block-wj-blocks-wj-container,  .wj-hero-hp.wp-block-wj-blocks-wj-container .wj-hero-block{
	overflow: inherit;
}


.wj-hero-hp.wp-block-wj-blocks-wj-container .wj-hero-block-inner--bg{
	margin-bottom: -60px;
}

.wj-hero-block-inner-content__inner h4{
    font-family: 'Karla';	
}


.wj-hero-block-inner-content__inner h1{
	max-width: 500px;
}

.wp-block-columns.wj-row--card-hp{
	max-width: 90%;
	margin: 0 auto;
}

.wj-ss-hp  .wp-block-columns{
	margin:0 auto !important;
}
.wp-block-column.wj-col-flex{
	display: flex;
	flex-wrap:nowrap;
	border-left: 1px solid #60606073;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.block-editor-block-list__block{
    .wj-ss-hp.wj-block-container .wj-container-inside{
        z-index: 2;
    }
}

.wj-ss-hp{
    &.wj-block-container{
        .wj-container-inside{
            z-index: auto;
            > .container{
                > div{
                    position: relative;
                    z-index: 999;
                }
            }
            .wj-row-menu-hp{
                position: relative;
                margin-top: -135px !important;
                z-index: 999;
            }
        }
    }
}

.wj-hero-block{
    &.wj-hero-hp{
        .wj-hero-block-inner--bg{
            img{
                min-height: 600px;
                -o-object-fit: cover;
                object-fit: cover;
            }            
        }

        .wj-hero-block-inner-content__inner{
            h4, h1{
                margin-left: -20%;
            }
        }
    }
}

figure.wp-block-image:not(.block-editor-block-list__block)::before{
	content: none;
}

.wj-ss-reserve.wp-block-columns{
	padding:0;
	gap: 0;
}

.wp-block-column.wj-col-flex figure{
	margin-right: 10px !important;
}

.wp-block-column.wj-col-flex figure, .wp-block-column.wj-col-flex h6{
	margin: 0;
}

.wp-block-column.wj-col-flex h6{
	font-family: 'Karla';
}


.has-white-colour-color {
	color: $white;
}

.has-black-colour-color {
	color: $black;
}

.has-primary-colour-color {
	color: $primary;
}

.has-secondary-colour-color {
	color: $secondary;
}

.has-white-colour-background-color{
	background-color: $white;
}
.has-black-colour-background-color{
	background-color: $black;
}
.has-primary-colour-background-color{
	background-color: $primary;
}
.has-secondary-colour-background-color{
	background-color: $secondary;
}

.entry-content .alignfull {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: 100vw;
}


// custom css
body .wp-block-gallery{
    &.wjstg-gallery-incept{
        align-items: center;
        align-content: center;
        > .wp-block-image{
            margin: 0 auto !important;
            box-sizing: border-box;
            @media only screen and (max-width: 781px) and (min-width: 768px){
                width: calc(25% - 16px) !important;
            }
            img{
                margin: 0 auto;
                max-width: 70% !important;
                @media only screen and (min-width: 768px){
                    width: fit-content;
                    max-width: 90% !important;
                }
            }

            &:nth-child(10){
                @media only screen and (min-width: 768px){
                    width: 90px !important;
                }
            }

            &:nth-child(11){
                @media only screen and (min-width: 768px){
                    width: 300px !important;
                }
            }
        }
    }
}

.wp-block-columns{
    &.wjstg-col-gallery-incept{
        margin-bottom:0;
        flex-wrap: nowrap !important;
        align-items: center !important;
        align-content: center;
        .wp-block-image{
            margin-bottom: 0;
        }
    }
}

.wj-hero-block{
    &.wjstg-hero-incept{
        .wj-hero-block-inner > .container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }  

        .wj-hero-block-inner--bg-overlay{
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            transform: matrix(1, 0, 0, -1, 0, 0);
        }

        .wj-hero-block-inner-content{
            > .wp-block-image{
                img{
                    @include media-breakpoint-down(md) {
                        max-width: 207px;
                    }
                }
            }
            @include media-breakpoint-down(md) {
                p{
                    font-size: 20px !important;
                    line-height: 150% !important;
                    margin: 0;
                }
            }
        }
    }
}