.wj-images-text-block {
	height: auto;
    position: relative;
	width: 100% !important;
	max-width: 100% !important;
	overflow: hidden;
	margin: 0 !important;
	.wj-images-text-block-inner{
		display: flex;
	}

	&-image{
		width: 50%;
		min-height: 200px;
		background-repeat: no-repeat;
		height: 100vh;
		background-repeat: no-repeat;
		width: 50%;
		background-attachment: fixed;
		background-size: contain;
		background-position: 0%;
	}

	&-content{
		padding: 0 10%;
		position: relative;
		width: 50%;
		display: flex;
		align-items: center;
		align-content: center;
		h2.heading{
			font-size: 80px;
			line-height: 120%;
			font-weight: 700;
			font-family: $font_primary;
			margin: 0;
			padding: 0;
			text-align: left;
			letter-spacing: 0.05em;
			position: absolute;
			top: 20%;
			left: -12%;
			max-width: 70%;
			z-index: 99;
			@media only screen and (max-width: 1199px) {
				max-width: 100% !important; 
				font-size: 50px;
			}
		}
	}
}
